In [1]:
# Import packages
import pandas as pd

# Import and display the first dataset
appendLeft = pd.read_csv("appending data.left.csv")
appendLeft

         Country      Continent                 GDP  EducationYears
0     Bangladesh           Asia     350,000,000,000             4.7
1          China           Asia  13,180,000,000,000             8.5
2          India           Asia   2,720,000,000,000             5.7
3         Norway         Europe     362,000,000,000            14.2
4  United States  North America  20,650,000,000,000            13.5

In [2]:
# Import and display the second dataset
appendRight = pd.read_csv("appending data.right.csv")
appendRight

         Country      Continent    Population
0     Bangladesh           Asia    129,155,000
1         Brazil  South America    170,115,000
2          China           Asia  1,277,558,000
3          India           Asia  1,013,662,000
4  United States  North America    278,357,000

In [3]:
# Join the first and second datasets.
# Sort the result along join columns.
appendLeft.merge(appendRight, how='outer', sort=True)

,Country,Continent,GDP,EducationYears,Population
0,Bangladesh,Asia,"350,000,000,000",4.7,"129,155,000"
1,Brazil,South America,NaN,NaN,"170,115,000"
2,China,Asia,"13,180,000,000,000",8.5,"1,277,558,000"
3,India,Asia,"2,720,000,000,000",5.7,"1,013,662,000"
4,Norway,Europe,"362,000,000,000",14.2,NaN
5,United States,North America,"20,650,000,000,000",13.5,"278,357,000"