What is data wrangling?
Data wrangling is the process of preparing source data for efficient and accurate analysis. Data-wrangling activities include removing missing values, formatting features uniformly, and appending related data from external sources. Data wrangling is sometimes called data munging or data preparation.

In [5]:
# Import Pandas package
import pandas as pd

# Construct dataframe example
example = pd.DataFrame(
    data=[
        ['China', 'Asia', 9572900],
        ['Bangladesh', 'Asia', 143998],
        ['Brazil', 'South America', 8547403],
        ['Norway', 'Europe', 358207],
    ],
    columns=['Country', 'Continent', 'Population'],
)

# Display example
example

      Country      Continent  Population
0       China           Asia     9572900
1  Bangladesh           Asia      143998
2      Brazil  South America     8547403
3      Norway         Europe      358207

In [6]:
# Show information about example
example.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Columns: 3 entries, Country to Population
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [7]:
example.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     4 non-null      object
 1   Continent   4 non-null      object
 2   Population  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [9]:
# Display rows 1 through 3 and columns Country through Continent
example.loc[1:3, 'Country':'Population']

      Country      Continent  Population
1  Bangladesh           Asia      143998
2      Brazil  South America     8547403
3      Norway         Europe      358207

In [11]:
# Sort example on Continent
example.sort_values('Continent', ascending=False, inplace=True)

# Display sorted data
example

      Country      Continent  Population
2      Brazil  South America     8547403
3      Norway         Europe      358207
0       China           Asia     9572900
1  Bangladesh           Asia      143998