In [1]:
# Import packages
import pandas as pd
from sklearn import preprocessing

# Import data into 'original'
original = pd.read_csv('featurescaling.csv')

original

    Price  Age
0   90300   14
1  150500   27
2  269500   22
3   98000   15
4  244650   28

In [2]:
# Standardize dataframe and return as an array
standardizedArray = preprocessing.scale(original)

# Convert standardized array to dataframe 'standardized'
standardized = pd.DataFrame(standardizedArray, columns=["Price", "Age"])

In [3]:
# Verify that standardized contains the expected values

In [4]:
# Normalize dataframe and return as an array
normalizedArray = preprocessing.MinMaxScaler().fit_transform(original)

# Convert normalized array to dataframe 'normalized'
normalized = pd.DataFrame(normalizedArray, columns=["Price", "Age"])

In [5]:
# Verify that normalized contains the expected values